### Testing hypothesis using Hotelling T^2 and constructing confidence interval

In [120]:
import numpy as np
import pandas as pd

In [121]:
mu_0 = [7,11]
n = 4
X = pd.DataFrame({
    "col1":[2,8,6,8],
    "col2":[12,9,9,10]})
X
mean_vec = (X.mean())
mean_vec
covMat = X.cov()
covMat

          col1      col2
col1  8.000000 -3.333333
col2 -3.333333  2.000000

In [122]:
mean_vec

col1     6.0
col2    10.0
dtype: float64

In [123]:
def compute_T_square(mu_0, n, meanVec, covMat):
    inverse = np.linalg.inv(covMat)
    #print(inverse)
    value = n * (meanVec - mu_0)@(inverse)@(np.transpose(meanVec - mu_0))
    return value

In [124]:
F_calc = compute_T_square(mu_0, n, mean_vec, covMat)

In [125]:
import scipy.stats as stats
from scipy.stats import f, chi2
def compute_tablulated_value(df, alpha):
    n = len(df)
    p = len(df.columns)
    if n-p>40:
        tab_value = chi2.ppf(1-alpha, df)
    else:
        scalars = (p * (n-1)) / (n-p)
        tab_value = f.ppf(1-alpha,p,n-p) * scalars
    return tab_value

In [126]:
X

   col1  col2
0     2    12
1     8     9
2     6     9
3     8    10

In [127]:
F_tab = compute_tablulated_value(X, alpha = 0.05)

In [128]:
def decision(F_calc, F_tab):
    if F_calc>F_tab:
        return "Reject H0"
    else:
        return "Accept H0"

In [129]:
decision(F_calc, F_tab)

'Accept H0'

In [142]:
def calulate_confidence_interval(df, alpha):
    n = len(df)
    p = len(df.columns)
    S = df.cov()
    inverse = np.linalg.inv(S)
    xbar = df.mean()
    print(xbar)
calulate_confidence_interval(X, alpha = 0.05)

col1     6.0
col2    10.0
dtype: float64